body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
margin:0;
overflow-x:hidden;
}

/* контейнер игры */

#game{
display:flex;
flex-direction:column;
align-items:center;
}

/* поле */

#boardWrap{
position:relative;
width:95vw;
max-width:1024px;
}

#board{
width:100%;
border-radius:10px;
box-shadow:0 0 40px cyan;
}

/* фишки */

.player{
width:28px;
height:28px;
border-radius:50%;
position:absolute;
border:3px solid white;
transform:translate(-50%,-50%);
transition:0.35s;
}

/* панель */

#ui{
margin-top:15px;
width:90%;
max-width:400px;
}

/* очередь */

#turn{
font-size:20px;
margin-bottom:10px;
}

/* счет */

#score{
margin-bottom:15px;
}

#score div{
margin:5px 0;
}

/* кубик */

#dice{
width:100%;
height:60px;
font-size:22px;
border:none;
border-radius:10px;
background:white;
color:black;
box-shadow:0 0 20px cyan;
cursor:pointer;
}

#dice:hover{
box-shadow:0 0 35px cyan;
}
