body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

/* лобби */

input{
padding:12px;
margin:10px;
font-size:18px;
border-radius:8px;
border:none;
}

button{
padding:12px 20px;
font-size:18px;
border-radius:10px;
border:none;
cursor:pointer;
background:#00eaff;
color:black;
box-shadow:0 0 15px #00eaff;
}

button:hover{
box-shadow:0 0 25px #00eaff;
}

/* выбор фишек */

#colors{
display:flex;
justify-content:center;
gap:20px;
margin:20px;
}

.color{
width:40px;
height:40px;
border-radius:50%;
cursor:pointer;
border:3px solid white;
}

.color[data-color="yellow"]{background:yellow}
.color[data-color="red"]{background:red}
.color[data-color="blue"]{background:blue}
.color[data-color="purple"]{background:purple}

.selected{
box-shadow:0 0 15px white;
transform:scale(1.2);
}

/* игровое поле */

#game{
display:flex;
justify-content:center;
gap:30px;
margin-top:20px;
}

#boardWrap{
position:relative;
width:1024px;
}

#board{
width:1024px;
border-radius:10px;
box-shadow:0 0 40px cyan;
}

/* фишки */

.player{
width:32px;
height:32px;
border-radius:50%;
position:absolute;
border:3px solid white;
transition:0.4s;
}

/* панель */

#ui{
width:220px;
text-align:left;
}

#turn{
font-size:20px;
margin-bottom:15px;
}

#score{
margin-bottom:20px;
}

#score div{
margin:6px 0;
}

/* кубик */

#dice{
width:200px;
height:60px;
font-size:22px;
background:white;
color:black;
border-radius:10px;
box-shadow:0 0 20px cyan;
}

#dice:hover{
box-shadow:0 0 30px cyan;
}
